.container {
  margin-right: 20px;
  padding: 10px;
  background: #ebecf0;
  min-width: 300px;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  min-height: 40px;
}

.addCardContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.addCard {
  flex: 1;
  padding-left: 10px;
  min-height: 30px;
  color: gray;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    color: #000000;
    background: rgba(128, 128, 128, 0.5);
  }
}

.addCardButton {
  background: rgba(100, 221, 114, 1);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  &:hover {
    background: rgba(100, 221, 114, 0.7);
  }
}

.cross {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: rgba(77, 77, 77, 1);
  margin-left: 5px;
  &:hover {
    color: rgba(77, 77, 77, 0.7);
  }
}
