.container {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px #888888;
  padding: 5px;
  display: flex;
  min-height: 30px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.textarea {
  border: none;
  flex: 1;
  border-radius: 5px;
  width: 100%;
  &:focus {
    outline: none;
  }
  font-family: 'Open Sans';
}

.title {
  font-size: 14px;
  margin: 10px;
  text-align: justify;
}

.containerOwner {
}

.owner {
  background-color: #fdcd07;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 12px;
}

.modalContainer {
  form {
    display: flex;
    flex: 1;
    flex-direction: column;
    input {
      margin: 15px 0px;
      width: 100%;
      border: none;
      &:focus {
      }
      font-family: 'Open Sans';
    }
    textarea {
      margin: 15px 0px;
      border: none;
      border-radius: 5px;
      font-family: 'Open Sans';
    }
    .cross {
      display: flex;
      justify-content: flex-end;
      span {
        color: gray;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .containerButtons {
      display: flex;
      justify-content: flex-end;
      .updateButton {
        margin: 10px 10px 0px 10px;
        background: rgb(253, 205, 7);
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        outline: none;
        &:hover {
          background: rgba(253, 205, 7, 0.7);
        }
      }
    }
    .select {
      margin: 10px 0px;
    }
  }
}
